<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/admin.css" />
    <script src="/js/admin.js" defer></script>
    <title><%=title%></title>
  </head>
  <body>
    <main>
      <search class="sidebarArea">
        <div class="sidebar">
          <p>관리자 페이지</p>
          <ul>
            <li class="naviUser">회원정보</li>
            <li class="naviReservation">예약관리</li>
            <li class="naviInquiry">문의관리</li>
          </ul>
        </div>
      </search>
      <section class="contentArea">
        <section class="bulletinBoard" id="userInfo">
          <h4>회원정보 게시판</h4>
          <article class="content">
            <div class="attribute">
              <p>번호</p>
              <p>닉네임</p>
              <p>아이디</p>
              <p>휴대폰</p>
            </div>
            <!-- 데이터 받을 시 rows는 ul로 row는 li로 변경하여 반복문 사용 -->
            <ul class="rows">
              <% for (let i = 0; i < user.length; i++) {%>
                <li class="row user" id="잠자는고양이(userName)">
                  <!-- id에 사용자 이름 넣어주기 -->
                  <p><%=user[i].user_id%></p>
                  <p><%=user[i].nickname%></p>
                  <p><%=user[i].username%></p>
                  <p><%=user[i].phone%></p>
                  <a href="/">자세히 보기</a>
                </li>
              <%} %>
            </ul>
          </article>
        </section>
        <section class="bulletinBoard" id="reservationInfo">
          <h4>예약정보 게시판</h4>
          <article class="content">
            <div class="attribute">
              <p>예약자명</p>
              <p>예약날짜</p>
              <p>예약룸</p>
              <p>결제여부</p>
            </div>
            <ul class="rows">
              <% for (let i = 0; i < reservation.length; i++) { %>
                <li class="row reservation" id="userId+reservation">
                  <p><%=reservation[i].nickname%></p>
                  <p><%=reservation[i].create_date.toISOString().substring(0, 10)%></p>
                  <p><%=reservation[i].name%></p>
                  <!-- 결제 여부 확인 후 img변경(3항연산자) -->
                  <%if (reservation[i].pay_ck) { %>
                    <input type="checkbox" checked disabled>
                  <%} else{%>
                    <input type="checkbox">
                  <%}%>
                  <a href="/">자세히 보기</a>
                </li>
              <% } %>
            </ul>
          </article>
        </section>
        <section class="bulletinBoard" id="inquiryInfo">
          <h4>문의관리 게시판</h4>
          <article class="content">
            <div class="attribute">
              <p>질문자명</p>
              <p>질문타입</p>
              <p>질문내용</p>
            </div>
            <ul class="rows">
              <li class="row inquiry" id="userId+inquiry">
                <p>잠자는고양이</p>
                <p>펜션 내부 시설</p>
                <p>
                  펜션 내부 시설에 수영장 있나요? 펜션 내부 시설에 수영장
                  있나요? 펜션 내부 시설에 수영장 있나요?
                </p>
                <!-- 결제 여부 확인 후 img변경(3항연산자) -->
                <a href="/">자세히 보기</a>
              </li>
            </div>
          </article>
        </section>
      </section>
    </main>
  </body>
</html>
