<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/reservation.css" />
    <script src="/js/jquery-1.12.3.js"></script>
    <script src="/js/reservation.js" defer></script>
  </head>
  <body>
    <main>
      <img src="/image/Real-time reservation.png" alt="logo" class="logo" />
      <hr />
      <div class="wrapwrap0">
        <button class="jumakButton jumakButtonReverseHover jumakButtonActive">
          인원순
          <!-- 클릭하면 가격순으로 변경 -->
        </button>
        <ul>
          <% for (let i = 0; i < data.length; i++) { %>
          <li>
            <a
            href="/reservation/detail?room=<%= data[i].room_id %>&img=<%= data[i].img %>&name=<%= data[i].name %>&price=<%= data[i].price %>&h_max=<%= data[i].h_max %>&count=<%=count%>&start=<%=start%>&end=<%=end%>"
            >
              <img
                src="/image/<%= data[i].img ? data[i].img : 'default.png' %>"
              />
            </a>
            <div>
              <div>
                <h3><%= data[i].name %></h3>
                <p class="capacity"><%= data[i].h_max %>인실</p>
                <p class="price"><%= data[i].price %>원</p>
              </div>
              <button class="likeButton">♡</button>
            </div>
          </li>
          <% } %>
        </ul>

        <% if (reservation[0]) { %>
        <ul>
          <% for (let i = 0; i < reservation.length; i++) { %>
          <li>
            <a>
              <p class="reservation">예약됨</p>
              <img
                class="reservation"
                src="/image/<%= reservation[i].img ? reservation[i].img : 'default.png' %>"
              />
            </a>
            <div>
              <div>
                <h3><%= reservation[i].name %></h3>
                <p class="capacity"><%= data[i].h_max %>인실</p>
                <p class="price"><%= data[i].price %>원</p>
              </div>
              <button class="likeButton">♡</button>
            </div>
          </li>
          <% } %>
        </ul>
        <% } %>
      </div>
    </main>
    <script src="/js/reservation.js"></script>
  </body>
</html>
