<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/reservationdetail.css" />
    <script src="/js/jquery-1.12.3.js"></script>
    <script src="/js/reservationdetail.js"></script>
  </head>
  <body>
    <main>
      <ul class="wrap0">
        <a target="_blank" href="/image/<%=imgUrl%>"
          ><img src="/image/<%=imgUrl%>" alt="<%=name%>"
        /></a>

        <li class="li0">
          <h2><%=name%> - <%= data.h_max%>인실</h2>
          <h2> 1일당 - <%=price%>원</h2>
        </li>

        <li class="li1">
          <span class="span1">♡</span>
        </li>
      </ul>
        <figure>
          <figcaption><h3>방 옵션</h3></figcaption>
            <ul>
              <%if(data.fool_ck==1){%>
              <li>
                <div class="a1">
                  <label>
                     
                      <span>실내 수영장 o</span>
                     
                  </label>
                </div>
              </li>
              <%}%>
              <%if(data.song_ck==1){%>
              <li>
                <div class="a1">
                  <label>
                      <span>노래방 o</span>
                  </label>
                </div>
              </li>
              <%}%>
              <li>
                <div class="a1">
                  <label>
                      <span>화장실 <%=data.bs_room_cnt%> 방 갯수 <%=data.room_cnt%></span>
                  </label>
                </div>
              </li>
            </ul>
        </figure>
      <div class="wrap1">
        <figure>
          <figcaption><h3>시설 옵션(선택)</h3></figcaption>
          <form>
            <ul>
              <li>
                <div class="a0">
                  <label>
                    <input type="checkbox" onclick="ckbbq('<%= count%>')" id="bbq" />
                    <span>바베큐 이용</span>
                  </label>
                  <span>+ 1인당 10,000 원</span>
                </div>
              </li>

              <li>
                <div class="a1">
                  <label>
                    <input type="checkbox" onclick="ckanimal()" id="animal" />
                    <span>동물 놀이터 이용</span>
                  </label>
                  <span>+ 50,000 원</span>
                </div>
              </li>

              <li>
                <div class="a0">
                  <label>
                    <input type="checkbox" onclick="ckbbaji('<%= count%>')" id="bbaji" />
                    <span>빠지 이용</span>
                  </label>
                  <span>+ 1인당 50,000 원</span>
                </div>
              </li>
            </ul>
          </form>
        </figure>
        <div class="wrap2">
          <figure>
            <figcaption><h3>결제 내역</h3></figcaption>
            <ul>
              <li>
                <%var startday = new Date(start) 
                  var endday = new Date(end)
                  var day = endday.getDay()-startday.getDay()%>
                <span class="PaymentHistory0">숙박 금액</span>
                <span class="PaymentHistory1"><%= price %>원 x <%= day %>박 = <%= price*day%>원 </span>
              </li>
              <li id="bbqli">
              </li>
              <li id="animalli">
              </li>
              <li id="bbajili">
              </li>
            </ul>
            <div id="total">
              <span>총 결제 금액</span>
            </div>
          </figure>
        </div>
        <input class="submitpay" type="button" onclick="getpayment()" value="결제하기" />
      </div>
    </main>
  </body>
</html>
